@model IEnumerable<AgendaServicios.Web.Models.TiposServicio>

@{
    ViewData["Title"] = "Index";
}

<h1>Servicios</h1>

<p>
    <a asp-action="Create">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.TipoServicioId">Edit</a> |
                    <a asp-action="Details" class="btn btn-warning" asp-route-id="@item.TipoServicioId">Details</a> |
                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.TipoServicioId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
